.container {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.actions-container {
  text-align: center;
  margin: auto;
  width: 300px;
  display: flex;
  flex-flow: column;
}

.hp-border {
  width: 300px;
  height: 30px;
  border-color: black;
  border-style: solid;
}

.current-hp {
  width: 300px;
  height: 30px;
  background-color: green;
}
