.container {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.actions-container {
  text-align: center;
  margin: auto;
  width: 300px;
  display: flex;
  flex-flow: column;
}
